.login-component {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 70px auto;
	border: solid 1px #000;
}

.login-component form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}

.login-component form input {
	margin: 16px 0;
}

.login-component form button {
	margin: 16px 0;
}
